[ req ]
prompt = no
default_bits = 2048
default_keyfile = lists.ovrride.dev.key
encrypt_key = no
distinguished_name = req_distinguished_name

string_mask = utf8only

req_extensions = v3_req
x509_extensions = v3_ca

[ req_distinguished_name ]
O=OvRride LLC
L=New York
ST=New York
C=US
CN=lists.ovrride.dev

[ v3_req ]

basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment

[v3_ca]
subjectAltName = @alt_names

[alt_names]
DNS.1 = *.lists.ovrride.dev
DNS.2 = lists.ovrride.dev
